@charset "UTF-8";
/* CSS Document */
/* devedate.css */
@font-face {
    font-family: Crashcourse_BB;
    src: url('../fonts/CrashcourseBB_reg.ttf') format('truetype');
}
@font-face {
    font-family: Crashcourse_BB;
    src: url('../fonts/CrashcourseBB_ital.ttf') format('truetype');
    font-style: italic, oblique;
}
header {
    font-family:Crashcourse_BB;
    font-size:72px;
    color:#F00;
    background-color:#000;
}
h2 {
    font-family:"Courier New", Courier, monospace;
    font-size:24px;
}
h3 {
    font-family:"Courier New", Courier, monospace;
    font-size:18px;
    color:#fff;
    background-color:#000;
}
body {
    font-family:"Courier New", Courier, monospace;
    font-size:14px;
}
#sex {
    display:table;
}
#fem {
    display:table-cell;
    width:150px;
    text-align:center;
}
aside {
    display:table-cell;
    width:150px;
    text-align:center;
}